#movies-list {
    font-size: 0;
    letter-spacing: 0;
    margin-top: 60px;
    overflow: hidden;
    padding: 2px;
    word-spacing: 0;
}
.movie {
    @include animation(moveUp 0.4s ease 1s forwards);
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    opacity: 0;
    overflow: hidden;
    -o-transform: translateY(100px);
    @include transform (translateY(100px));
    width: 14.2%;

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            @include animation-delay(0.05s * ($i - 1));
        }
    }
    
    @include breakpoint($desktop-xlarge) {
        width: 16.6%;
    }
    @include breakpoint($desktop-large) {
        width: 20%;
    }
    @include breakpoint($desktop-small) {
        width: 25%;
    }
    @include breakpoint($tablet) {
        width: 33.3%;
    }
    @include breakpoint($phone) {
        width: 50%;
    }
    &.x2 {
        width: 28.4%;
        @include breakpoint($desktop-xlarge) {
            width: 33.2%;
        }
        @include breakpoint($desktop-large) {
            width: 39.9%;
        }
        @include breakpoint($desktop-small) {
            width: 49.9%;
        }
        @include breakpoint($tablet) {
            width: 66.5%;
        }
        @include breakpoint($phone) {
            width: 100%;
        }
        img {
            margin-top: -3px;
            @include breakpoint($desktop-large) {
                margin-top: -2px;
            } 
        }
    }
    img {
        height: auto;
        max-width: 100%;
        @include transition($primary-transition);
    }
    &:hover img {
        -o-transform: scale(1.2);
        @include transform(scale(1.2));
    }
}