/* Menu button */
#menu-btn {
    display: block;
    border-right: 1px solid $bg-secondary-color;
    height: 30px;
    @include opacity(1);
    padding: 15px 20px;
    position: absolute;
    @include transition($primary-transition);
    width: 30px;
    &.selected,
    &:hover {
        background: $bg-secondary-color;
    }
    span {
        background: $font-primary-color;
        display: block;
        font-size: 0;
        height: 3px;
        position: absolute;
        top: 29px;
        -webkit-touch-callout: none;
        @include transition($transition-slow);
        @include user-select(none);
        width: 30px;
        &:before {
            @include box-shadow(0 -7px $font-primary-color, 0 7px $font-primary-color);
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
}

/* Menu items */
#main-nav-wrapper {
    background-color: $bg-primary-color;
    height: 100%;
    left: -255px;
    @include opacity(0.9);
    overflow-x: auto;
    position: fixed;
    @include transition($primary-transition);
    top: 0;
    width: 255px;
    z-index: 4;
    &.opened {
        left: 0;
        @include transition($primary-transition);
    }
}

#main-nav {
    margin-top: 80px;
}
.main-nav-item {
    margin: 20px;
    a {
        color: $font-primary-color;
        display: block;
        font: 600 1rem $primary-font;
        text-decoration: none;
        @include transition($secondary-transition);
        &:hover {
            color: #FFF;
        }
    }
}